*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: #ffffff;
}



#header{
    background-image: url('../img/slideshow1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    width: 100%;
    display: block;
    height: 1000px;
    margin: 0 auto;
    background-attachment: fixed;
}

.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container{
    font-size: 30px;
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    height: 100%;
    display: table-cell;
    vertical-align: top;
    font-weight: 200;
    padding: 25px 0px 0px 50px;
}


.logo-container h1 span{
    font-weight: 800;
    color: black;

}

.navbar{
    height: 100%;
    float: right;
}


.navbar a{
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

.navbar a li{
    display: table-cell;
    vertical-align: top;
    color: black;
    padding: 50px 30px 0px 0px;
}



/*BELOW IS ABOUT US BOX **/




#about-us{
    width: 100%;
    background-color: #273c75;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 900px;
}



#content{
    padding-left: 120px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-row-gap: 250px;
}

.image-box-one{
    text-align: center;
    position: relative;
    top: 18%;
}


.header{
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 2px;
    font-family: monospace;
    padding: 150px 0px 0px 0px;
    text-transform: uppercase;
}




.content p{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
}




.btn{
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 120px 15px 10px;
    font-size: 15px;
    font-family: monospace;
    border: 1px #ced6e0 solid;
}





.btn:hover{
    background-color: white;
    color: black;
    transition: 1s;
}




/* PROJECTS SECTION **/





#projects{
    padding: 100px;
    text-align: center;
    background-color: #192a56;
    height: 1000px;
}

#projects .title-row-one{
    margin: 10px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}



.row-one{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}



#projects .title-row-two{
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}


.row-two{
    display: flex;
    justify-content: space-around;
    padding: 50px;
   
}



/* footer section**/




footer{
    background-color: #192a56;
}

#footer{
    padding: 40px 40px 40px 100px;
    height: 150px;
    display: grid;
    grid-template-columns: 200px 100px 100px 300px;
    grid-column-gap: 50px;
}




.social ul li{
    font-size: 30px;
    display: table-cell;
    padding: 15px;
}









@media (max-width: 768px){



}